* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:blue;
    font-family: Arial, Helvetica, sans-serif
}

.flex-row {
    display: flex;
}

/* header start */
header {
    padding: 20px 35px;
    background-color:black;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* innsert background image */
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px black;
}

header a {
    text-decoration: none; /***** what is this *****/
    color: yellow;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px black /***** check out the ending of text-shadow *****/
}

header nav ul li a:hover {
    background: green;
    color:purple;
    border-radius: 15px;
    text-shadow: none;
}
/* header end */

/* about me start */
.about-me p {
    line-height: 1.7;
    color: orange;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
/* about me end 

/* work start */
.Portfolio {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.work-tiles {
    /* this margin changes the space between boxes */
    margin: 20px;
    flex: 1;
    color: blue;
}

.work-tiles img {
    width: 100%;
    height: 100%;
    flex: 1 12%;
    position: sticky;
    z-index: -1;
}

.work-tile-bio {
    padding: 15px;
    line-height: 1.3;
    position: absolute;
    border: 3px solid black; 
    background: red;
}

.work-tile-bio h3 {
    font-size: 28px;
}

.work-tile-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
/* work end */

.flex-row {
    display: flex;
}

.resume embed {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}