:root {
    --mainBackgroundColor: rgb(117, 19, 117);
    --workTilePlaqTxt: black;
    --workTilePlaqBack: rgb(46, 202, 49);
    --linkableTxt: rgb(53, 145, 210);
    --hoverBack: rgb(46, 202, 49);
    --hoverTxt: black;   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    min-width: 414px;
    margin: 0 auto;
    color: black;
    background-color: var(--mainBackgroundColor);
    font-family: Arial, Helvetica, sans-serif;
}

/* header start */
header {
    padding: 20px 35px;
    background-color:  var(--mainBackgroundColor);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }
  
  header h1 a {
    font-weight: bold;
    margin: 0;
    font-size: 32px;
    color: var(--linkableTxt);
  }

  header h1 a:hover {
      color:var(--hoverTxt);
      text-decoration: underline overline double rgb(22, 163, 59);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    color: var(--linkableTxt);
    font-weight: bold;
    background-color:  var(--mainBackgroundColor);
  }

  header nav ul li a:hover {
    background: var(--hoverBack);
    color: var(--hoverTxt);
    border-radius: 15px;
    text-shadow: none;
  }
/* header end */

/* about me start */
.profile-pic {
    margin-left: 25%;
    width: 50%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:  var(--mainBackgroundColor);
    padding-top: 15px;
} 
 
.block-txt {
    width: 100%;
    background-color:  var(--mainBackgroundColor);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;    
}
/* about me end */

/* work start */
.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    background-color:  var(--mainBackgroundColor);
}

.section-header h2 {
    background-color:  var(--mainBackgroundColor);
    color: rgb(22, 163, 59);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    background-color:  var(--mainBackgroundColor);
    margin-top: 15px;
    margin-bottom: 15px;
}

.work-tiles-main {
    justify-content: center;
    margin: 10px; 
    background-color:  var(--mainBackgroundColor);
}

.work-tiles-main img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 50%;
}    
.work-tiles-main img:hover {
        opacity: 100%;
}
.work-tiles {
    margin: 10px; 
    flex: 1;
    color:  var(--mainBackgroundColor);
}

.work-tiles img { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 50%;
}

.work-tiles img:hover {
    opacity: 100%;
}

.work-tile-bio {
    position: relative;
    margin: auto 20%;
    color: var(--workTilePlaqTxt);
    background-color: var(--workTilePlaqBack);
    border: 3px solid #000000;
}

.work-tile-names {
    display: flex;
    justify-content: center;
    font-size: 2.0vw;
}

.work-tile-code {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
}
/* work end */

/* contact start */
.contact {
    display: flex;
    justify-content: space-between;
    background-color:  var(--mainBackgroundColor);
    margin-bottom: 15px;
}

.block-txt-2 {
    padding: 10px 15px;
    background-color:  var(--mainBackgroundColor);
    color: var(--linkableTxt);
    font-weight: bold;
}

.block-txt-2 a:hover {
    background: var(--hoverBack);
    color: var(--hoverTxt);
    padding: 10px 15px; 
    border-radius: 15px;
    text-shadow: none;
}

.block-txt-2 ul li {
    list-style: none;
    display: inline;
    margin: 15px;
    padding: 10px;
}
/* contact end */

 /* resume start  */
 .section-header-resume {
     display: flex;
     justify-content: center;
     margin-bottom: 15px;
 }

 a {
    text-decoration: none;
    color: var(--linkableTxt);
}

 .section-header-resume a:hover {
     color: var(--hoverTxt);
     padding: 5px 25%;
     border: groove 3px black;
     border-radius: 15px;
     background-color: var(--hoverBack);
 }
  /* resume end */

/* footer start */
.footer h9 {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:  var(--mainBackgroundColor);
}
/* footer end */

/* desktop screen size adjustments */
@media screen and (min-width: 1200px) {
    .work-tile-names {
        font-size: 24px;
    }

    .work-tile-code {
        font-size: 18px;
    }
}

/* tablet screen size adjustments */
@media screen and (max-width: 783px) {
    header {
        justify-content: center;
        text-align: center;
    }
}

/* phone screen size adjustments */
@media screen and (max-width: 769px) {
    .work-tiles {
        flex: 0 70%;
    }
    
    .portfolio {
        justify-content: center;
    }

    header {
        justify-content: center;
        text-align: center;
    }

    .work-tile-names {
        font-size: 3.0vw;
    }

    .work-tile-code {
        font-size: 2.5vw;
    }

    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block-txt-2 {
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 487px) {
    .block-txt-2 ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 424px) {
    header nav ul {
        justify-content: center;
    }
    header nav ul li {
        margin: 10px;
    }
}